<main class="products m-t-15">
  <section class="row m-b-20">
    <h3 class="col-4 col-xs-12 flight-route">Pune > Delhi > Pune</h3>
    <div class="col-8 col-xs-12">
      <div class="col-4 col-xs-6">
        <p class="modify_captions">DEPARTURE</p>
        <p class="check-dates">
          <span class="fa fa-calendar-alt m-r-5 calendar-icon"></span>
          <span class="date">01</span>
          <span class="month_day">
            <span>Oct 18</span>
            <span class="display-block">Mon</span>
          </span>
        </p>
      </div>
      <div class="divider fs-hide-xs"></div>
      <div class="col-4 col-xs-6">
        <p class="modify_captions">Return</p>
        <p class="check-dates">
          <span class="fa fa-calendar-alt m-r-5 calendar-icon"></span>
          <span class="date">01</span>
          <span class="month_day">
            <span>Oct 18</span>
            <span class="display-block">Mon</span>
          </span>
        </p>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="panel panel-bordered">
      <div class="row">
        <div class="col-9 col-xs-12 m-b-15">
          <h3 class="m-b-15">Rs. 9500</h3>
          <div class="col-6 col-xs-6">
            <p>AI - 202</p>
            <h4>PNQ > Del</h4>
            <h4>Depart : 10:30 AM</h4>
            <h4>Arrive : 12:30 PM</h4>
          </div>
          <div class="col-6 col-xs-6">
            <p>AI - 202</p>
            <h4>PNQ > Del</h4>
            <h4>Depart : 10:30 AM</h4>
            <h4>Arrive : 12:30 PM</h4>
          </div>
        </div>
        <div class="col-3 col-xs-12 m-b-15">
          <div class="panel panel-bordered m-b-10 text-center">
            <div class="fa fa-file-image no-image"></div>
          </div>
          <button type="button" class="fs-btn fs-btn-full">Book This One</button>
        </div>
      </div>
    </div>
  </section>
</main>
