.city-dropdown {
  overflow: auto;
  height: 200px;
}
.city-dropdown li {
  padding: 10px 0px;
  cursor: pointer;
  font-size: 12px;
}
.city-dropdown li:first-child {
  padding-top:0px;
}
.city-dropdown li:last-child {
  padding-bottom:0px;
}
.city-dropdown li:hover {
  color: #ff851b;
}
